.home-footer{
  background: linear-gradient(to bottom right, #029BDC 0%, #2CC78A 90%);
  height: 100%;
  width: 100%;
  display:grid;
  gap: 4vh;
  grid-template-rows: 4fr 1fr;
  padding: 1% 10%;
  flex-direction: column;
}

p{
  color: white;
}

#website-rights{
  
  text-align: center;
}


