.home-body{
  background-color: #f2fcff;
  height: 100%;
  padding: 2%;
  display:flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}


h2{
  color: #1D252F;
  margin-bottom: 2vh;
}

.description{
  color: #6F7083;
  width: 35vw;
  font-size: 1.25em;
  text-align: center;
}

.infoblock-container{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width:100%;
  padding: 4% 12%;
}

button {
  background: #FA9E33;
  color: white;
  border: none;
  width: 20vw;
  padding: 1vh;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-size: 1.5em;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 1px 1px 4px 4px #00000028;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 10px 5px #009adc34;
}

/* iets kleiner bij klik */
button:active {
  transform: scale(0.95);
  box-shadow: 1px 1px 10px 8px #009adc34;
}