.home-body{
  background-color: #F5FCFF;
  height: 100%;
  padding: 2%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

h2{
  color: #1D252F;
  margin-bottom: 2vh;
}

.description-container{
  color: #6F7083;
  width: 40vw;
  font-size: 1.25em;
  text-align: center;
}