<section class="home-body">
  <h2>Alles wat je nodig hebt</h2>
  <p class="description">Van registratie tot administratie - wij maken sportkampjes organiseren eenvoudig en overzichtelijk.</p>

  <div class="infoblock-container">
    <app-home-body-card [title]="'Kampjes Registreren'" [description]="'Eenvoudig je sportkampjes aanmelden met alle details, data en activiteiten.'" [imageSrc]="'./assets/images/registration.png'" [imageAlt]="'icoon van registratie'"></app-home-body-card>
    <app-home-body-card [title]="'Deelnemers Beheren'" [description]="'Overzicht van alle inschrijvingen, contactgegevens en medische informatie.'" [imageSrc]="'./assets/images/users.png'" [imageAlt]="'icoon van users'"></app-home-body-card>
    <app-home-body-card [title]="'Communicatie'" [description]="'Direct contact met de ouders en kinderen via berichten en notificaties.'" [imageSrc]="'./assets/images/chat.png'" [imageAlt]="'icoon van communicatie'"></app-home-body-card>
    <app-home-body-card [title]="'Administratie'" [description]="'Alle documenten, facturatie en administratie automatisch georganiseerd.'" [imageSrc]="'./assets/images/documentation.png'" [imageAlt]="'icoon van documentatie'"></app-home-body-card>
    <app-home-body-card [title]="'Veilig Platform'" [description]="'GDPR-compliant met veilige gegevensopslag voor alle betrokkenen.'" [imageSrc]="'./assets/images/security.png'" [imageAlt]="'icoon van security'"></app-home-body-card>
    <app-home-body-card [title]="'Makkelijk in Gebruik'" [description]="'intuïtieve interface zodat je je kunt focussen op wat belangrijk is: de kinderen!'" [imageSrc]="'./assets/images/user-friendly.png'" [imageAlt]="'icoon van user-friendly'"></app-home-body-card>
  </div>
</section>
