.home-header{
  /* Diagonal gradient van linkerboven naar rechteronder */
  background: linear-gradient(to bottom right, #029BDC 0%, #2CC78A 90%);
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh;
  height: 100vh;
  position: relative;
  z-index: 10;

}

h1{
  padding:0;
  margin:0;
  line-height: 0.95;
  display: block;
  letter-spacing: 2px
}

h1 .title{
  color: white;
  padding: 0;
  margin: 0;
}

h1 .subtitle{
  color: #FA9E33;
  padding: 0;
  margin: 0;
}

.buttons-container{
  margin: 3% 1%;
  justify-content: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  width: 50%;
  gap: 5%;
}

button {
  display: flex;
  position: relative;
  background: conic-gradient(from var(--gradient-angle),
      #ffffff,
      #ffffff60,
      #ffffff,
      #ffffff60,
      #ffffff);
  color: white;
  border: none;
  height: 3.5em;
  width: 15em;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.5em;
  z-index: 0;
  transition: transform 0.2s, box-shadow 0.2s;
  animation: rotation 5s linear infinite;
  
}

.button-content {
  position: absolute;
  inset: 0.25rem;
  background: linear-gradient(to bottom right, #1f8b6d 20%, #0081af 90%);
  border-radius: inherit;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@property --gradient-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }

  100% {
    --gradient-angle: 360deg;
  }
}

button:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 14px 4px white;
}

/* iets kleiner bij klik */
button:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 6px 2px white;
}

.description-container{
  text-align: center;
  margin-top: 4vh;
  font-size: 1.40em;
  color:white;
  max-width: 42%;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* hele container vullen */
  overflow: hidden;
  z-index: -1;
}

.background-img {
  position: absolute;
  height: auto;
  object-fit: contain;
  filter: grayscale(80%) opacity(0.2) brightness(0.6);
  transform-origin: center;
}



.background-img:nth-child(1) {
  top: 18vh;
  left: 2vw;
  opacity: 0.3;
  width: 30vw;
}

.background-img:nth-child(2) {
  top: 60vh;
  left: 36vw;
  opacity: 0.3;
  width: 28vw;

}

.background-img:nth-child(3) {
  top:-5vh;
  left: 60vw;
  opacity: 0.3;
  width: 42vw;
  transform: rotateY(180deg)
}

.infoblock-container{
  display: flex;
  flex-direction: row;
  gap: 6vw;
}
