<section class="home-header">

  <h1>
    <div class="title">Sportkampjes</div>
    <div class="subtitle">Vlaanderen</div>
  </h1>

  <p class="description-container">Het platform waar kamporganisatoren hun sportkampjes voor kinderen kunnen registeren,
    beheren en de kinderen kunnen bereiken. Alles op één plek!</p>

  <span class="buttons-container">
    <button>Start als organisator</button>
    <button>Bekijk kampjes</button>
  </span>


  <div class="image-container">
    <img src="./assets/images/child-running-left.png" alt="child-running" class="background-img">
    <img src="./assets/images/children-rope-skipping.png" alt="children-rope-skipping" class="background-img">
    <img src="./assets/images/child-cycling.png" alt="child-cycling" class="background-img">
  </div>
</section>
